body {
  padding: 0;
  margin: 0;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body fills the screen */
}

form {
  background-color: white;
  border: 1px solid black;
  display: flex;
  width: 350px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form span {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="submit"] {
  background-color: green;
  padding: 3px;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: blue;
}
