body {
  padding: 0;
  margin: 0;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: white;
  border: 1px solid black;
  display: flex;
  width: 350px;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: blue;
}
